<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Details</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        h3 {
            display: flex;
            margin: 10px;
            justify-content: center;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    {% include 'camp/loginheader.html' %}
    <div class="container mt-4">
        <h3>You have added following programs!</h3>
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <!-- <th scope="col">Summer Camp Id</th> -->
                    <th scope="col">Program Id</th>
                    <th scope="col">Program Name</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Fees</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">EndDate</th>
                    <th scope="col">Description</th>
                    <th scope="col">AgeGroup</th>
                </tr>
            </thead>
            <tbody>
                {% for p in proinfo %}
                <tr>
                    <!-- <td>{{p.SummerCamp_Id}}</td> -->
                    <td>{{p.ProgramId}}</td>
                    <td>{{p.ProgramName}}</td>
                    <td>{{p.Duration}}</td>
                    <td>{{p.Fees}}</td>
                    <td>{{p.StartDate}}</td>
                    <td>{{p.EndDate}}</td>
                    <td>{{p.Description}}</td>
                    <td>{{p.AgeGroup}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    {% include 'camp/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>